/etc/extractmarkdown
/etc/rselfpack
/src/Dockerfile
/src/rdockrun
/src/help.txt
/src/main.sh
/claude
/src/load-env.sh
/src/write-env.sh
/src/chat.md
/src/suggest-commit-message.md
/src/claude-auth.sh
/src/rename-file.md
