/etc/extractmarkdown
/etc/rselfpack
/src/Dockerfile
/src/rdockrun
/src/help.txt
/src/main.sh
/claude
/src/load-env.sh
/src/write-env.sh
/src/claude-auth.sh
/src/chat.md
/src/git-commit.md
/src/rename.md
/src/git-diff.md
